.ui.bottom.attached.tab.segment{"data-tab" => "techniques"}
  %h1.ui.header Techniques
  .ui.four.cards
    .card
      .image
        .thermopainting
          .cool
            = image_tag "/guide/examples/developed/snowman-cool.jpg", class: ""
          .heat
            = image_tag "/guide/examples/developed/snowman-hot.jpg", class: ""    
      .ui.buttons
        %button.ui.button.cool.blue
          %i.icon.snowflake
          COOL
        .or
        %button.ui.button.heat
          %i.icon.fire
          HEAT
      .content
        .header Thermofigure
        .meta
          A snowman is rendered with 
          .tc TC 
          paints.
        .description
    .card
      .image
        .thermopainting
          .cool
            = image_tag "/guide/examples/developed/apple-cool.png", class: ""
          .heat
            = image_tag "/guide/examples/developed/apple-hot.png", class: ""    
      .ui.buttons
        %button.ui.button.cool.blue
          %i.icon.snowflake
          COOL
        .or
        %button.ui.button.heat
          %i.icon.fire
          HEAT
      .content
        .header Thermo-Overpainting
        .meta
          A purple 
          .tc TC 
          wash is applied over an apple 
          .c C 
          underpainting. 
        .description
    .card
      .image
        .thermopainting
          .cool
            = image_tag "/guide/examples/developed/desert-cool.png", class: ""
          .heat
            = image_tag "/guide/examples/developed/desert-hot.png", class: ""    
      .ui.buttons
        %button.ui.button.cool.blue
          %i.icon.snowflake
          COOL
        .or
        %button.ui.button.heat
          %i.icon.fire
          HEAT
      .content
        .header Thermo-Underpainting
        .meta
          A
          .c C 
          blue desert sunset is applied over a
          .tc TC 
          orange/yellow/red underpainting 
        .description
    .card
      .image
        .thermopainting
          .cool
            = image_tag "/guide/examples/developed/world-cool.jpg", class: ""
          .heat
            = image_tag "/guide/examples/developed/world-hot.jpg", class: ""    
      .ui.buttons
        %button.ui.button.cool.blue
          %i.icon.snowflake
          COOL
        .or
        %button.ui.button.heat
          %i.icon.fire
          HEAT
      .content
        .header Thermomask
        .meta
          A layer of black/blue 
          .tc TC 
          is applied to mask the
          .c C 
          planet figure underneath.
        .description
          


