!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title RailsAtelier
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    - if params[:controller] != "application"
      = stylesheet_link_tag params[:controller], media: 'all', 'data-turbolinks-track': 'reload'
      = javascript_include_tag params[:controller], 'data-turbolinks-track': 'reload'
    %link{rel: "apple-touch-icon", href: "/thermopainting.png"}
    / %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0", :name => "viewport"}

  :coffeescript
    window.ws = new WebStorage()
  %body
    .hidden.ui.container
      - if true
        - @sounds.each do |s|
          %button.ui.button.basic.audio-btn{id: s.gsub(" ", "-"), file: s}
            = s
    = yield
    .ui.page.dimmer.transition.hidden
      .content
        .ui.segment.inverted
          .image
            - image_tag "/thermopainting.png", {width: 300}
          .ui.massive.text.loader Loading
          


          
          
      
  
  